Repository BUNRI-WIKI/project-was, pull requests merged in 2024-06, with the labels that each got.

#47 feat: recommendBoard 수정 및 타 controller operation작성
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/questionComment/controller/QuestionCommentController.java
  src/main/java/com/example/demo/bounded_context/recommendBoard/controller/RecommendBoardController.java
  src/main/java/com/example/demo/bounded_context/recommendBoard/repository/RecommendBoardRepository.java
Labels: QuestionBoard

#49 account update 오류 수정
  src/main/java/com/example/demo/base/common/CookieProvider.java
  src/main/java/com/example/demo/base/common/HeaderProvider.java
  src/main/java/com/example/demo/base/security/UserDetailsServiceImpl.java
  src/main/java/com/example/demo/base/security/filter/JwtTokenFilter.java
  src/main/java/com/example/demo/bounded_context/account/controller/AccountController.java
  src/main/java/com/example/demo/bounded_context/account/dto/AccountRequest.java
  src/main/java/com/example/demo/bounded_context/account/dto/AccountResponse.java
  src/main/java/com/example/demo/bounded_context/account/dto/AccountUpdateRequest.java
  src/main/java/com/example/demo/bounded_context/account/entity/Account.java
  src/main/java/com/example/demo/bounded_context/account/service/AccountService.java
  src/main/java/com/example/demo/bounded_context/auth/controller/AuthController.java
  src/main/java/com/example/demo/bounded_context/auth/dto/SignInAccountRequest.java
  src/main/java/com/example/demo/bounded_context/auth/dto/SignUpAccountRequest.java
  src/main/java/com/example/demo/bounded_context/auth/dto/TokenResponse.java
  src/main/java/com/example/demo/bounded_context/auth/service/AuthService.java
  src/main/java/com/example/demo/bounded_context/location/controller/LocationController.java
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/questionComment/controller/QuestionCommentController.java
  src/main/java/com/example/demo/bounded_context/recommendBoard/service/RecommendBoardService.java
Labels: Auth, Account

#50 배출 솔루션 및 위키 기능 개발
  src/main/java/com/example/demo/base/exception/ExceptionCode.java
  src/main/java/com/example/demo/bounded_context/solution/controller/SolutionController.java
  src/main/java/com/example/demo/bounded_context/solution/controller/WikiController.java
  src/main/java/com/example/demo/bounded_context/solution/dto/KeywordRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/SolutionResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WasteListResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WikiCompareResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WikiListResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WikiRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WikiResponse.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Category.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Tag.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Waste.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Wiki.java
  src/main/java/com/example/demo/bounded_context/solution/entity/WikiState.java
  src/main/java/com/example/demo/bounded_context/solution/repository/TagRepository.java
  src/main/java/com/example/demo/bounded_context/solution/repository/WasteRepository.java
  src/main/java/com/example/demo/bounded_context/solution/repository/WikiRepository.java
  src/main/java/com/example/demo/bounded_context/solution/service/SolutionService.java
  src/main/java/com/example/demo/bounded_context/solution/service/TagService.java
  src/main/java/com/example/demo/bounded_context/solution/service/WasteService.java
  src/main/java/com/example/demo/bounded_context/solution/service/WikiService.java
Labels: solution, wiki

#52 wiki API 수정
  src/main/java/com/example/demo/base/exception/ExceptionCode.java
  src/main/java/com/example/demo/bounded_context/account/controller/AccountController.java
  src/main/java/com/example/demo/bounded_context/account/dto/AccountResponse.java
  src/main/java/com/example/demo/bounded_context/account/entity/Account.java
  src/main/java/com/example/demo/bounded_context/account/repository/AccountRepository.java
  src/main/java/com/example/demo/bounded_context/account/service/AccountService.java
  src/main/java/com/example/demo/bounded_context/solution/dto/SolutionResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WikiRequest.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Waste.java
  src/main/java/com/example/demo/bounded_context/wiki/api/WikiApi.java
  src/main/java/com/example/demo/bounded_context/wiki/controller/WikiController.java
  src/main/java/com/example/demo/bounded_context/wiki/dto/WikiCompareResponse.java
  src/main/java/com/example/demo/bounded_context/wiki/dto/WikiListResponse.java
  src/main/java/com/example/demo/bounded_context/wiki/dto/WikiRequest.java
  src/main/java/com/example/demo/bounded_context/wiki/dto/WikiResponse.java
  src/main/java/com/example/demo/bounded_context/wiki/entity/Wiki.java
  src/main/java/com/example/demo/bounded_context/wiki/entity/WikiState.java
  src/main/java/com/example/demo/bounded_context/wiki/repository/WikiRepository.java
  src/main/java/com/example/demo/bounded_context/wiki/service/WikiService.java
Labels: Account, wiki

#53 사용자 기여 API 생성
  src/main/java/com/example/demo/bounded_context/account/controller/AccountController.java
  src/main/java/com/example/demo/bounded_context/account/entity/Account.java
  src/main/java/com/example/demo/bounded_context/solution/controller/SolutionController.java
  src/main/java/com/example/demo/bounded_context/solution/dto/ContributeCreationRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/ContributeCreationsResponse.java
  src/main/java/com/example/demo/bounded_context/solution/entity/ContributedCreationState.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Waste.java
  src/main/java/com/example/demo/bounded_context/solution/repository/WasteRepository.java
  src/main/java/com/example/demo/bounded_context/solution/service/SolutionUseCase.java
  src/main/java/com/example/demo/bounded_context/solution/service/WasteService.java
  src/main/java/com/example/demo/bounded_context/wiki/dto/ContributeModificationsResponse.java
  src/main/java/com/example/demo/bounded_context/wiki/repository/WikiRepository.java
  src/main/java/com/example/demo/bounded_context/wiki/service/WikiService.java
  src/main/java/com/example/demo/bounded_context/wiki/service/WikiUseCase.java
Labels: Account, solution, wiki

#54 feat: questionBoard 정렬기능 생성
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/questionBoard/dto/PageQuestionBoardDto.java
  src/main/java/com/example/demo/bounded_context/questionBoard/service/QuestionBoardService.java
  src/main/java/com/example/demo/bounded_context/questionComment/dto/QuestionCommentResponseDto.java
Labels: QuestionBoard

#55 solution API 생성
  build.gradle
  src/main/java/com/example/demo/base/exception/ExceptionCode.java
  src/main/java/com/example/demo/bounded_context/account/controller/AccountController.java
  src/main/java/com/example/demo/bounded_context/separation/controller/SeparationController.java
  src/main/java/com/example/demo/bounded_context/separation/dto/DetectResponse.java
  src/main/java/com/example/demo/bounded_context/separation/dto/SolutionResponse.java
  src/main/java/com/example/demo/bounded_context/separation/repository/MainCategoryRepository.java
  src/main/java/com/example/demo/bounded_context/separation/service/DetectService.java
  src/main/java/com/example/demo/bounded_context/separation/service/SeparationService.java
  src/main/java/com/example/demo/bounded_context/separation/util/CategoryProvider.java
  src/main/java/com/example/demo/bounded_context/solution/api/SolutionApi.java
  src/main/java/com/example/demo/bounded_context/solution/controller/SolutionController.java
  src/main/java/com/example/demo/bounded_context/solution/dto/ContributeCreationListResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/DetectRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/DetectResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/ImageRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/SolutionListResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/SolutionRequest.java
  src/main/java/com/example/demo/bounded_context/solution/dto/SolutionResponse.java
  src/main/java/com/example/demo/bounded_context/solution/dto/WasteListResponse.java
  src/main/java/com/example/demo/bounded_context/solution/entity/Waste.java
  src/main/java/com/example/demo/bounded_context/solution/repository/TagRepository.java
  src/main/java/com/example/demo/bounded_context/solution/repository/WasteRepository.java
  src/main/java/com/example/demo/bounded_context/solution/service/DetectService.java
  src/main/java/com/example/demo/bounded_context/solution/service/SolutionService.java
  src/main/java/com/example/demo/bounded_context/solution/service/SolutionUseCase.java
  src/main/java/com/example/demo/bounded_context/solution/service/WasteService.java
Labels: solution

#56 feat: recycleBoard api 생성 및 그에 필요한 comment 일부 생성, paging api수정
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/controller/RecycleBoardController.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/dto/CreateRecycleBoardDto.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/dto/PageRecycleBoardDto.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/dto/ReadRecycleBoardDto.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/dto/UpdateRecycleBoardDto.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/entity/RecycleBoard.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/repository/RecycleBoardRepository.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/service/RecycleBoardService.java
  src/main/java/com/example/demo/bounded_context/recycleComment/dto/RecycleCommentResponseDto.java
  src/main/java/com/example/demo/bounded_context/recycleComment/entity/RecycleComment.java
Labels: recycleBoard

#60 feat: 댓글 추천 api 추가 및 read dto 수정
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/questionBoard/dto/ReadQuestionBoardDto.java
  src/main/java/com/example/demo/bounded_context/questionBoard/service/QuestionBoardService.java
  src/main/java/com/example/demo/bounded_context/questionComment/entity/QuestionComment.java
  src/main/java/com/example/demo/bounded_context/recommendComment/controller/RecommendCommentController.java
  src/main/java/com/example/demo/bounded_context/recommendComment/entity/RecommendComment.java
  src/main/java/com/example/demo/bounded_context/recommendComment/repository/RecommendCommentRepository.java
  src/main/java/com/example/demo/bounded_context/recommendComment/service/RecommendCommentService.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/controller/RecycleBoardController.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/dto/ReadRecycleBoardDto.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/service/RecycleBoardService.java
Labels: QuestionBoard, recycleBoard

#62 Refactor : 수거함 위치 조회 API
  src/main/java/com/example/demo/bounded_context/image/service/S3ImageService.java
  src/main/java/com/example/demo/bounded_context/location/controller/LocationController.java
  src/main/java/com/example/demo/bounded_context/location/dto/AddressRequest.java
  src/main/java/com/example/demo/bounded_context/location/dto/LocationResponse.java
  src/main/java/com/example/demo/bounded_context/location/entity/LampAndBattery.java
  src/main/java/com/example/demo/bounded_context/location/entity/Medicine.java
  src/main/java/com/example/demo/bounded_context/location/repository/LampAndBatteryRepository.java
  src/main/java/com/example/demo/bounded_context/location/repository/MedicineRepository.java
  src/main/java/com/example/demo/bounded_context/location/service/LampAndBatteryService.java
  src/main/java/com/example/demo/bounded_context/location/service/LocationService.java
  src/main/java/com/example/demo/bounded_context/location/service/LocationUseCase.java
  src/main/java/com/example/demo/bounded_context/location/service/MedicineService.java
Labels: location

#63 feat: Q&A readDto 오류 수정
  src/main/java/com/example/demo/bounded_context/questionBoard/dto/ReadQuestionBoardDto.java
Labels: QuestionBoard

#69 feat: 검색 API 작성 및 삭제오류수정
  src/main/java/com/example/demo/bounded_context/questionBoard/controller/QuestionBoardController.java
  src/main/java/com/example/demo/bounded_context/questionBoard/entity/QuestionBoard.java
  src/main/java/com/example/demo/bounded_context/questionBoard/repository/QuestionBoardRepository.java
  src/main/java/com/example/demo/bounded_context/questionBoard/service/QuestionBoardService.java
  src/main/java/com/example/demo/bounded_context/questionComment/entity/QuestionComment.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/controller/RecycleBoardController.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/repository/RecycleBoardRepository.java
  src/main/java/com/example/demo/bounded_context/recycleBoard/service/RecycleBoardService.java
Labels: QuestionBoard, recycleBoard
